# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# Env files
.env
.env.*

# dbt
transform/target/
transform/logs/
transform/dbt_packages/

# Dagster
.dagster/

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup

# OS
.DS_Store
Thumbs.db
