dlt[bigquery]>=1.21.0
kagglehub[pandas-datasets]>=0.3.13
pandas>=2.2.0
pyarrow>=17.0.0
google-cloud-bigquery-storage>=2.25.0,<3.0.0

dbt-core>=1.10.0
dbt-bigquery>=1.10.0

dagster>=1.11.0
dagster-webserver>=1.11.0
